<section class="card-2">

  <a href="/event/{{event_id}}" class="links event-links">
    <header style="text-decoration: underline;">{{event_name}}</header>
    <p style="text-decoration: underline;">About:</p> 
    <p>{{description}}</p>
    <p style="text-decoration: underline;">Where:</p> 
    <p>{{event_city}}</p>
    
  </a>
</section>