<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JumpIn</title>
    
     <link rel="stylesheet" type="text/css" href="/css/jass.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
 <main class="container">
  <div class="navbar">
    <a href="" class="nav-links">Login</a>
    <a href="" class="nav-links">Create</a>
    <a href="" class="nav-links">Explore</a>
  </div>
  <section class="title">JumpIn</section>
  {{{body}}}
       
  </div>
  <script src="https://code.jquery.com/jquery-3.6.0.slim.js" integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY=" crossorigin="anonymous"></script>
</main>
</body>
</html>