<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JumpIn</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
     <link rel="stylesheet" type="text/css" href="/css/jass.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <script src="https://code.jquery.com/jquery-3.6.0.slim.js" integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY=" crossorigin="anonymous"></script>
</head>
<body>
 <main class="container">
  <div class="navbar">
    <div class="main-navs">
    <a href="/login" class="nav-links">Login</a>
    </div>
    <div class="main-navs">
    <a href="/create" class="nav-links">Create</a>
    </div>
    <div class="main-navs">
    <a href="/view" class="nav-links">Explore</a>
    </div>
    <div class="main-navs">
    <a href="#" class="nav-links" id="logout">Logout</a>
    </div>
  </div>
  <section class="title">JumpIn</section>
  {{{body}}}
       
  </div>
</main>

</body>
</html>