
{{#if logged_in}}
 <h1 class="page-title" id="event-title">Create Event</h1>
    <section class="event-form">
      <form class="row g-3">
        <div class="col-md-12">
          <input type="text" class="form-control" id="inputEventName" placeholder="Event Name">
        </div>
        <div class="col-md-12">
          <input type="text" class="form-control" id="inputHostName" placeholder="Host Name">
        </div>
        <div class="col-md-12">
          <label for="eventDate">Event Date</label>
          <input type="date" id="eventDate" name="event date">
      </div>
        <div class="col-md-12">
          <label for="inputEvent" class="form-label">Type of Event</label>
          <select id="inputEventType" class="form-select">
            <option>Choose...</option>
            <option value="sports">Sports</option>
            <option value="Arts&Crafts">Arts &amp; Cratfs</option>
            <option value="Music">Music</option>
            <option value="Dinig">Dining</option>
            <option value="Recreaction">Recreation</option>
          </select>
        </div>
        <div class="form-floating">
          <textarea class="form-control" placeholder="Leave a comment here" id="eventDescription" style="height: 100px"></textarea>
          <label for="floatingTextarea2">Tell Us About Your Event!</label>
        </div>
      
        <div class="col-12">
          <input type="text" class="form-control" id="inputStreetAddress" placeholder="Enter Street Address">
        </div>
        <div class="col-md-12">
          <input type="text" class="form-control" id="inputCity" placeholder="City">
        </div>
        <div class="col-md-12">
          <select id="inputState" class="form-select" placeholder="State">
            <option>Choose...</option>
            <option value="Alabama">Alabama</option>
            <option value="Alaska">Alaska</option>
            <option value="Arizona">Arizona</option>
            <option value="Arkansas">Arkansas</option>
            <option value="California">California</option>
            <option value="Colorado">Colorado</option>
            <option value="Connecticut">Connecticut</option>
            <option value="Delaware">Delaware</option>
            <option value="Florida">Florida</option>
            <option value="Georgia">Georgia</option>
            <option value="Hawaii">Hawaii</option>
            <option value="Idaho">Idaho</option>
            <option value="Illinois">Illinios</option>
            <option value="Indiana">Indiana</option>
            <option value="Iowa">Iowa</option>
            <option value="Kansas">Kansas</option>
            <option value="Kentucky">Kentucky</option>
            <option value="Lousiana">Louisiana</option>
            <option value="Maine">Maine</option>
            <option value="Maryland">Maryland</option>
            <option value="Massachusetts">Massachusetts</option>
            <option value="Michigan">Michigan</option>
            <option value="Minnesota">Minnesota</option>
            <option value="Mississippi">Mississippi</option>
            <option value="Missouri">Missouri</option>
            <option value="Montana">Montana</option>
            <option value="Nebraska">Nebraska</option>
            <option value="Nevada">Nevada</option>
            <option value="NewHampshire">New Hampshire</option>
            <option value="NewJersey">New Jersey</option>
            <option value="NewMexico">New Mexico</option>
            <option value="NewYork">New York</option>
            <option value="NorthCarolina">North Carolina</option>
            <option value="NorthDakota">North Dakota</option>
            <option value="Ohio">Ohio</option>
            <option value="Oklahoma">Oklahoma</option>
            <option value="Oregon">Oregon</option>
            <option value="Pennsylvania">Pennsylvania</option>
            <option value="RhodeIsland">Rhode Island</option>
            <option value="SouthCarolina">South Carolina</option>
            <option value="SouthDakota">South Dakota</option>
            <option value="Tennesee">Tennesee</option>
            <option value="Texas">Texas</option>
            <option value="Utah">Utah</option>
            <option value="Vermont">Vermont</option>
            <option value="Virginia">Virginia</option>
            <option value="Washington">Washington</option>
            <option value="WestVirginia">West Virginia</option>
            <option value="Wisconsin">Wisconsin</option>
            <option value="Wyoming">Wyoming</option>
          </select>
        </div>
        <div class="col-md-12">
          <input type="text" class="form-control" id="inputZip" placeholder="Zip Code">
        </div>
  
        <div class="mb-12">
          <label for="exampleFormControlTextarea1" class="form-label">Who would you like to invite?</label>
          <textarea class="form-control" id="inputEmails" rows="3" placeholder="Enter all Email Addresses ex. c@c.com, j@j.com"></textarea>
        </div>

        <div class="col-12">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>

      <!-- after event is created need to give them the link to share -->
    </section>
    {{else}}
<<<<<<< HEAD
    <section class="login-check">
      <p>Please <a href='/login' class="login-link">Sign Up or Log In </a></p>
=======
    <section>
      <p>Please <a href='/login'>SignIn</a></p>
>>>>>>> c3e79de034798827295ca3b4df80489f0a30a057
    </section>
    {{/if}}
    <script src="./js/create.js"></script>
    <script src="./js/email.js"></script>
