   <h1 class="page-title" id="event-title">Create Event</h1>
    <section class="event-form">
      <form class="row g-3">
        <div class="col-md-12">
          <input type="text" class="form-control" id="inputEventName" placeholder="Event Name">
        </div>
        <div class="col-md-12">
          <input type="text" class="form-control" id="inputHostName" placeholder="Host Name">
        </div>
        <div class="col-md-6">
          <label for="inputEvent" class="form-label">Type of Event</label>
          <select id="inputEvent" class="form-select">
            <option selected>Choose...</option>
            <option>Sports</option>
            <option>Arts and Crafts</option>
            <option>Music</option>
            <option>Dining</option>
          </select>
        </div>
        <div class="form-floating">
          <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
          <label for="floatingTextarea2">Tell Us About Your Event!</label>
        </div>
        <div class="col-6">
          <label for="inputLocationName" class="form-label">Where is your Event taking place?</label>
          <input type="text" class="form-control" id="inputLocationName" placeholder="Location Name">
        </div>
        <div class="col-12">
          <input type="text" class="form-control" id="inputAddress2" placeholder="Enter Street Address">
        </div>
        <div class="col-md-6">
          <input type="text" class="form-control" id="inputCity" placeholder="City">
        </div>
        <div class="col-md-4">
          <select id="inputState" class="form-select" placeholder="State">
            <option selected>Choose...</option>
            <option>...</option>
          </select>
        </div>
        <div class="col-md-2">
          <input type="text" class="form-control" id="inputZip" placeholder="Zip Code">
        </div>
        
        <div class="col-12">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
      <!-- after event is created need to give them the link to share -->
    </section>