<div class="featured">
      <div class="card" style="width: 18rem;">
          <img src="/images/people2.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Ice & Alchemy</h5>
            <p class="card-text">Create Your Own Cocktails! </p>
            <a href="/event/3" class="btn btn-primary">Let's Go</a>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img src="/images/people5.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Wednesday Work In the Park</h5>
            <p class="card-text">Join Us Every Wednesday for a Fun Group Workout</p>
            <a href="/event/1" class="btn btn-primary">Let's Go</a>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img src="/images/people4.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Mindful Poetry Gathering</h5>
            <p class="card-text">Find Your Center and Peace</p>
            <a href="/event/2" class="home-buttons btn btn-primary">Let's Go</a>
          </div>
        </div>
        </div>