<h1>View Events</h1>

<div class ="card-body card center">
{{#each events as |event|}}
{{> view-details}}
{{/each}}
<a href="/" type ="submit" style="background-color: darkorange;">return</a>
 </div>   

<script src="/css/style.css"></script>