<h1>View Events</h1>

<div class ="container">
{{#each events as |event|}}
{{> view-details}}
{{/each}}
<button type ="submit" style="background-color: darkorange;"></button>

</div>

<script src="/css/style.css"></script>