<h1>View Events</h1>
{{#events}}
<div class="container"></div>
<button type ="button"></button>
<div class="container"></div>
<button type ="button"></button>
<div class="container"></div>
<button type ="button"></button>
{{/Events}}
<script src=""></script>