/* LAYOUT */
body {
  background-image: url("../images/people.jpg");
  background-color: #cccccc;
  z-index: -5;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(234 144 101 / 23%);
  color: white;
  height: 350px;
  font-size: 250px;
}
.featured {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}


