/* LAYOUT */
body {
  position: sticky;
  background-image: url("../images/colorimg.jpg");
  background-color: #444141;
  background-blend-mode: overlay;
  background-size: cover;
  z-index: -5;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  height: 350px;
  font-size: 200px;
  box-shadow: inset;
}
.featured {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.card-body {
  background-color: #1c3334;
  text-align: center;
  color: rgb(221, 218, 218);
}
.card {
  border: none;
  margin: 2px;
}
.navbar {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.nav-links {
  color: rgb(221, 218, 218);
  text-decoration: none;
 
}