/* LAYOUT */
body {
  position: sticky;
  background-image: url("../images/colorimg.jpg");
  background-color: #444141;
  background-blend-mode: overlay;
  background-size: cover;
  z-index: -5;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  height: 350px;
  font-size: 200px;
  box-shadow: inset;
}
.featured {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.card-body {
  display: flex;
  background-color: #1c3334;
  align-items: center;
  color: rgb(221, 218, 218);
  justify-content: center;
  flex-direction: column;
}
.card-body-2{
  width: 1200px;
}
.card {
  border: none;
  margin: 10px;
  box-shadow: 4px 4px 4px;
}
.navbar {
  display: flex;
  justify-content: space-evenly;
}
.nav-links {
  color: black;
  text-decoration: none;
  
}
.nav-links:hover {
  font-size: 18px;
  color: rgb(221, 218, 218);
}
.main-navs {
  background-color: rgb(214 179 23);
  border: 2px solid rgb(214 179 23);
  border-radius: 100px;
  padding: 20px;
}
.main-navs:hover{
  color: rgb(221, 218, 218);
  background-color: #444141;
}
.join{
 margin-left:80%;
}
#join-btn{
  width: 200px;
}
.form-area {
  display: flex;
  background-color: rgb(155 211 205 / 62%);
  border-left: 5px solid #1c3334;
  border-right: 5px solid #1c3334;
  padding: 50px;
  justify-content: center;
}
.login-card {
  margin: 15px;
  padding: 15px;
  color: rgb(221, 218, 218);
  width: 50%;
}
.form-group {
  padding: 20px;
}

.page-title {
  text-align: center;
  background-color: rgb(214 179 23);
  height: 25%;
  margin-bottom: 0;
}

.btn {
  background-color: #1c3334;
  width:fit-content
}
.form-input {
  width: 100%;
  border-radius: 3px;
  border: 1px solid #1c3334;
}
.form-input-2{
  width: 300px;
}
.form {
  background-color: white;
  color: black;
}

#event-title {
  padding: 35px;
    color: white;
}
.event-form {
  background-color: white;
  padding: 25px;
}
#eventDate {
  border: 1px solid #ced4da;
  padding: .375rem .75rem;
  border-radius: .25rem;
}

button{
  width: 60px;
  display: flex;
  align-content: center;
}


h1{
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.center{
  text-align: center;
}
a .center{
  text-decoration: none;
}

.card-img-top {
  max-width: 100%;
  border: 10px solid #1c3334;
  box-shadow: inset;
}

.card-title {
  text-align: center;
  font-size: 1.5rem;
}
.home-buttons{
  background-color: rgb(214 179 23);
}

ul{
  list-style-type:none ;
  text-align: center;
  
}
.card a header{
  padding: 5px;
  background-color:darkgrey;
} 

.card{
  flex-direction: column-reverse;
  text-align: center;
  background-color:ivory;
  

}